* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#container {
  text-align: center;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

#user-info {
  border: 1px solid #CCC;
  clear: both;
  margin: 0 auto 20px;
  max-width: 400px;
  padding: 10px;
  text-align: left;
}

#photo-container {
  background-color: #EEE;
  border: 1px solid #CCC;
  float: left;
  height: 80px;
  margin-right: 10px;
  width: 80px;
}

#photo {
  height: 80px;
  margin: 0;
  width: 80px;
}

@media (max-width: 300px) {
  #photo-container,
  #photo {
    height: 40px;
    width: 40px;
  }
}


.ui-timepicker {
	text-align: left;
}

.clock {
    float: left;
    position: relative;
    top: 10px;
    left: -45px;
    height: 35px;
    width: 25%;
    line-height: 35px;
    /* margin: 150px auto 0; */
    padding: 0 50px;
    background: #222;
    color: #eee;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 7px #222;
    text-shadow: 0 0 3px #fff;
    font-family: "liquid_crystalregular", sans-serif;
    user-select: none;
    user-drag: none;
}
